/*-------------------------------

	POPUP.CSS

-------------------------------*/

.popup_back {
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

.popup_cont {
	position: fixed;
	z-index: 102;
	width: 90%;
	height: 90%;
}

.preloader {
	z-index: 101;
}

/*---------------------

	EDIT BELOW

*/

.popup_close {
	color: #888;
	cursor: pointer;
	position: absolute;
	padding: 5px;
	right: 5px;
	top: 0;

	font-size: 40px; 
	font-weight: bold;
}

.popup_close:hover {
	color: #fff;
}

.popup_back {
	cursor: pointer;
	background-color: #222;
}

div.popup {
	background: #000;
	padding: 25px;
	box-shadow: 0 3px 10px #222;	
	text-align: center;
	height: 90%;
}

.preloader {
	left: 50%;
	margin: -10px 0 0 -25px;
	position: fixed;
	top: 50%;
}



