a, a:visited{color: #fff;}
.absolute{position: absolute;}

/* clearfix */ 
.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}
 
.clearfix{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  

body{
	background-color: #000; color: #fff;	
	font-family: "Microsoft YaHei" , "微软雅黑体";
	height: 100%;

}

.wrapper{
	position: relative;
	width: 1400px; 
	margin: 0 auto;	
	
}

#header{
	color: #fff;  background-color: #000;
	font-size: 12px; line-height: 24px; 
	font-weight: bold; 
	position: fixed; top: 0; 
	padding-right: 20px;  width: 1380px; height: 25px; 
	z-index: 100;
}
#header #lang li{float: right; margin: 0 5px; }

#header #lang .item{opacity: .6; cursor: pointer;}
#header #lang .item.act , #header #lang .item:hover{opacity: 1;}
#header #lang .text{margin-right: 20px;}

#content{position: relative;}
.text p{margin-top: 10px;}
/***************** menu **********************/
#content .menu{ position: fixed; top: 25px; background-color: #e65e30; color: #fff; width: 150px; height: 100%; z-index: 100;}
#content .menu .logo{display: block; margin:30px 0; text-align: center;}

#content .menu .main{width: 110px; margin: 0 20px; padding-top: 10px; border-top: 1px dotted #fff; }
#content .menu .main li a{position: relative;  display: block; padding: 10px 0 10px  20px; }

#content .menu .main li a.act, #content .menu .main li a:hover{opacity: .7;}
#content .menu .main li a.act:before, #content .menu .main li a:hover:before{
	content: ' > ';
	position: absolute;	
	font-size: 14px;
	left: 3px; top: 9px;
}
/***************** menu **********************/

/***************** pano **********************/
#pano{height: 1535px; width: 1400px; margin-top: 25px; }
#pano .bg{
	top:0px; left: 50%; margin-left: -550px; 
	width: 1250px; height: 1535px; 
	
	background-image: url("../images/bg/building_bg.jpg");    
    background-position: 0px 0px;
    background-repeat: no-repeat;
}
#pano .building{bottom: 70px; left:50%; margin-left: -300px}
#pano .front{top: 0; left: 150px; height: 1535px; width: 1250px;}
#pano .front img{position: absolute;}
#pano .front .front_l{bottom: 0;}
#pano .front .front_c{top: 180px; left: 10%;}


#pano .right{ display:none; left:100%; width: 100%; cursor: default; } 
#pano .right{ font-size: 13px; line-height: 24px;}
#pano .right .note{padding-left: 20px; background: url(../images/icon/arrow.png) 0 0 no-repeat;}
#pano .right .video{cursor: pointer;}

.btn{font-size: 14px; line-height: 26px; border: 2px solid #fff; letter-spacing: 2px; padding: 4px 10px; cursor: pointer;}


#pano .right .top_tit{top: 175px;}
#pano .right .video.n1{top: 360px;}
#pano .right .note.n1{top: 520px;}
#pano .right .btn_360{top: 580px; transition:.3s;}
#pano .right .btn_360:hover{background-color: #000; border-color: #000;}
#pano .right .mid_tit{top: 770px;}
#pano .right .mid_text{top: 820px; font-size: 12px; line-height: 22px; width: 260px;}
#pano .right .video.n2{top: 980px;}
#pano .right .note.n2{top: 1142px;}

#pano .right .video:after{
	content: '';
	position: absolute; left: 0;
	width: 258px; height: 157px;	
}
#pano .right .video.n1:after{background: url(../images/home/video1_b.jpg);}
#pano .right .video.n2:after{background: url(../images/home/video2_b.jpg);}
#pano .right .video:hover:after{background:none;}

#pano .logo2{position:absolute; left:50%; margin-left: -100px }
#pano .sub_tit{position: absolute; left:50%; margin-left: 200px;  top: 280px;  }

#pano .top_360, #pano .turn_l, #pano .turn_r{
	font-size: 12px; cursor: pointer;
	width: 150px; height: 90px;	
	position: absolute; 
}

#pano .top_360{ top: 30px; left: 43%; padding-top: 30px; height: 20px; }
#pano .top_360 img{top: 0px; right: 20px;}

#pano .turn_l{top:500px; left: 50%; margin-left: -370px;}
#pano .turn_l img{top: -40px; right: -20px;}

#pano .turn_r{top: 700px; left: 50%; width: 80px; margin-left: 110px;}
#pano .turn_r img{top: 40px; left: 0px;}

/***************** pano **********************/

/***************** master **********************/
#master{
	position: fixed; width: 1400px; z-index: 10;
	background:url(../images/home/slider_bg.jpg) 0 0 no-repeat;
	overflow: hidden; margin-top: 25px;
}	

#master .inner{
	margin-left: 150px; width: 1250px;
}
#master .inner .page{float: left; position: relative; width: 1250px; height: 770px;}

#master .inner .page.n3 .title{
	margin:130px 0 70px 70px;
}
#master .inner .page.n3 .text{
	margin:0 0 50px 70px;
	font-size: 12px; line-height: 24px;
	color: #000; text-align: left;
	width: 210px; letter-spacing: 1px;
}

#master .inner .page.n3 .image{top: 100px; right: 0px;}
#master .inner .page.n3 .image .cube{position: absolute; top: 100px; left: 80px;}

/***************** master **********************/


/***************** intro **********************/
#intro{
	position: fixed;
	width:1400px; height: 100%; 	
	margin-top: 25px; overflow: hidden;
	background-color: #151515; 
}
#intro .inner{
	margin-left: 150px;
}
#intro .inner .page.n1{
	position: relative; 
	width: 1250px; height: 770px;
	background: url(../images/home/intro1_bg.jpg) 0 0 no-repeat;
}
#intro .inner .page.n1 .title{
	left: 755px; top: 70px;
}
#intro .inner .page.n1 .text{
	font-size: 12px; line-height: 22px;
	color: #fff; text-align: left;
	width: 330px; letter-spacing: 1px;
	left: 755px; top: 180px; font-weight: 200;
}
/***************** intro **********************/

/***************** level **********************/
#level{
	position: fixed; margin-top: 25px;
	width:1400px;	
	overflow: hidden; 
	background-color: #151515;
} 

#level .upper{
	position: relative;
	height: 770px;	
	z-index: 50;
}

#level .upper .star{
	width: 1400px; height: 510px;
	background: url(../images/home/star_bg.png)0 0 repeat;
}
#level .upper .moon{ top: 60px; }
#level .upper .cloud{
	width: 1400px; height: 410px;
	left: 0; bottom: 0;
	background: url(../images/home/cloud_bg.png) repeat;
	background-position: 0px -100px;
}


#level .upper .bud{
	right: 0;bottom: 0;
}	
#level .upper .bud .mask{
	position: absolute; right: 215px; bottom:351px;
	-webkit-transform-origin: center bottom; 
	-ms-transform-origin: center bottom; 
	-moz-transform-origin: center bottom; 
	transform-origin: center bottom; 
	-webkit-transform: rotate(-57deg);
	-ms-transform: rotate(-57deg);
	-moz-transform: rotate(-57deg);
	transform: rotate(-57deg);
	width: 280px; height: 305px;
	overflow: hidden;
}
#level .upper .bud .mask img{position: absolute; bottom:0;}

#level .upper .text_area{
	width: 275px; height: 360px; padding:20px;
	border:3px solid #e65e30;
	left: 25%; top: 37%;
}
#level .text_area .text{
	font-size: 12px; line-height: 24px; letter-spacing: 1px;
	margin-top: 25px;
}


#level .under{
	position: relative;
	margin-top: 25px;
	height: 770px;
	background-color: #b7b7b7;
}
#level .under .sun{ top: 50px; }
#level .under .cloud{
	width: 1400px; height: 770px;
	left: 0; bottom: 0;
	background: url(../images/home/cloud2_bg.png) repeat;
	background-position: 150px -110px;
}


#level .under .bud{
	left: 150px;bottom: -2px;
}	
#level .under .bud .mask{
	position: absolute; left: -38px; bottom:17px;
	-webkit-transform-origin: center bottom; 
	-ms-transform-origin: center bottom; 
	-moz-transform-origin: center bottom; 
	transform-origin: center bottom; 
	-webkit-transform: rotate(18deg);
	-ms-transform: rotate(18deg);
	-moz-transform: rotate(18deg);
	transform: rotate(18deg);
	width: 479px; height: 543px;
	overflow: hidden;
}
#level .under .bud .mask img{position: absolute; bottom:0;}

#level .under .text_area{
	width: 260px; height: 270px; padding:20px 25px;
	border:3px solid #e65e30;
	right: 250px; top: 350px;
}
#level .under .text_area .text{color: #000;}



/***************** level **********************/

/***************** contact **********************/
#contact{
	position: fixed; margin-top: 25px; margin-left: 150px;
	width:1250px; height: 100%;	
	overflow: hidden; 
	background: url(../images/contact/contact_bg.jpg) no-repeat #f8f8f8;

	text-align: center;
	font-size: 14px; line-height: 24px; color: #000;
}

#contact .title{padding-top: 70px; }
#contact .title p{padding-top: 25px;}

#contact .form{
	width: 700px; height: 390px;
	margin:10px auto; position: relative;
	border-top:1px solid #b9b9b9;
	border-bottom:1px solid #b9b9b9;
}

#contact .form form{
	height: 240px; text-align: left;
	padding-top: 40px; padding-left: 90px;
	letter-spacing: 1px;
}
#contact .form form div{
	display: inline-block;
	width: 270px;
}

#contact .form form .address{
	width: 610px;
}

#contact .form label.ftit{
	width: 70px; margin-right: 25px; padding: 5px 0;
	display: inline-block; 
}
#contact .form label.ftit span{
	padding-left: 31px;
}


#contact .form input[type="text"]{
	width: 125px; border:none;
	height: 18px; padding: 2px 4px;

}
#contact .form label.radio{
	position: relative;
	cursor: pointer; 
    margin-right: 15px;  
}

#contact .form textarea{
	position: absolute;
	border:none; resize: none;
	width: 397px; height: 85px;	padding: 5px;
	left: 185px; top: 185px;	
} 

#contact .form .send{
	font-size: 20px; color: #fff;
	background-color: #e65e30;
	padding: 10px 0px; 
	cursor: pointer; text-align: center;
	width: 125px; 
	letter-spacing: 30px; padding-left: 30px;
	margin: 35px auto; 

}

#contact .info{
	position: relative;
	text-align: left;
	width: 700px; height: 24px;
	padding: 10px 0; 
	margin:0px auto;
	border-bottom:1px solid #b9b9b9;
}
#contact .info p{padding-left: 90px;}

#contact .num{margin-top: 15px;}


/***************** contact **********************/


@media screen and (max-width: 1399px) {
   
.wrapper, #pano, #master, #intro, #level{	width: 1024px; 	}
#header{ width: 990px;  padding-right: 34px;}
#content .menu{width: 134px;}
#content .menu .main{margin: 0 12px;}

#pano{height: 1090px;}
#pano .bg{
	margin-left: -378px; 
	width: 890px; height: 1090px;
    background-size: 890px auto;
}
#pano .building{bottom: 80px; left:50%; margin-left: -205px}
#pano .building img{width: 310px;}
#pano .front{top: 0; left: 134px; height: 1090px; width: 890px;}
#pano .front .front_l{width: 890px;}
#pano .front .front_c{width: 486px; top: 130px;}
#pano .right{font-size: 12px; line-height: 22px; left: 68%;} 

#pano .right .top_tit{top: 85px;}
#pano .right .top_tit img{width: 291px;}
#pano .right .video.n1{top: 230px;}
#pano .right .note.n1{top: 390px;}
#pano .right .btn_360{top: 450px; transition:.3s;}
#pano .right .btn_360:hover{background-color: #000; border-color: #000;}
#pano .right .mid_tit{top: 570px;}
#pano .right .mid_text{top: 620px; font-size: 12px; line-height: 22px; width: 260px;}
#pano .right .video.n2{top: 800px;}
#pano .right .note.n2{top: 960px;}

#pano .top_360{ top: 10px; left: 42%; }
#pano .turn_l{margin-left: -300px;}
#pano .turn_r{margin-left: 90px;}

#pano .logo2{margin-left: -60px;}
#pano .logo2 img{width: 142px;}
#pano .sub_tit{ margin-left: 130px; }
#pano .sub_tit img{ width: 36px; }

#master .inner{	margin-left: 134px; width: 890px; }
#master .inner .page{position: relative; width: 890px; height: 550px;}
#master .inner .page.n3 .title{	margin:100px 0 65px 30px;}
#master .inner .page.n3 .title img{width: 170px;}
#master .inner .page.n3 .text{ margin:0 0 50px 30px; width: 180px;}
#master .inner .page.n3 .image img{width: 661px;}
#master .inner .page.n3 .image .cube{width: 282px; left: 55px; top: 70px;}

#intro .inner{	margin-left: 134px; }
#intro .inner .page.n1{	
	width: 890px; height: 550px;	
	background-size:  890px 550px;
}
#intro .inner .page.n1 .title{left: 540px; top: 40px;}
#intro .inner .page.n1 .title img{width: 100px;}
#intro .inner .page.n1 .text{left: 540px; top: 120px; width: 280px;}

#level .upper, #level .under{height: 550px;}
#level .upper .star{
	width: 1024px; height: 360px;
	background-size: 740px;	
}
#level .upper .moon{ top: 45px; }
#level .upper .cloud{
	width: 1024px; height: 290px;
	background-size: 645px;	
}
#level .upper .bud img{width: 423px;}
#level .upper .bud .mask {width: 200px; right: 154px; bottom: 252px;}
#level .upper .bud .mask img{ width: 200px;}

#level .upper .text_area{
	height: 285px; padding:10px;
	border:2px solid #e65e30; 
}
#level .upper .text_area .title img{ width: 107px;}
#level .text_area .text{
	font-size: 12px; line-height: 20px; letter-spacing: 0px;
	margin-top: 15px;
}

#level .under .cloud{
	width: 1024px; height: 550px;
	background-size: 1024px;	
}
#level .under .sun img{width: 352px;}

#level .under .bud{left: 134px;}
#level .under .bud img{width: 481px;}
#level .under .bud .mask {width: 341px; left: -27px; bottom: 13px;}
#level .under .bud .mask img{ width: 341px;}

#level .under .text_area{
	height: 200px; padding:10px; right: 110px;
	border:2px solid #e65e30; 
}
#level .under .text_area .title img{ width: 85px;}

#contact{width: 890px; margin-left: 134px;}
#contact .title{padding-top: 20px; }

#contact .form{height: 330px;}
#contact .form form{padding-top: 10px;}
#contact .form textarea{	
	top: 155px;	
} 


#contact .form .send{margin: 20px auto;}




}



